* {   
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    /* font-weight: 300, 400, 600; */
    font-size: 16px;
}

h1 {
    font-weight: 300;
}
.top-container img {
    padding: 25px 0 25px 33px;
    width: 30%;
    height: auto;
}

.middle-container img {
   background-image: url(/images/hero-mobile.jpg);
   width: 400px;
}